
body{
  background-color: white;
  
}

.paper{
flex-direction: row;
align-items: center;
margin: 3vh;
margin-top: 10vh;
}

.avatar{
margin: 1vh;
background-color:white;
background-image: url("https://img.collegepravesh.com/2017/02/PICT-Logo.jpg")


}

.form{
width: 80%;
margin-top: 5vh;
}

.root{
  height: '100vh',
}
.image{
  background-image:  url("https://img.collegepravesh.com/2017/02/PICT-Pune.jpg");
  background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 100vh;
}

.submit{
margin: 3vh;
height: 7vh;
}
