body {
  background-color: white;
 
  
}
.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 240,0.8);
  padding:20px;
  border-radius:5px;

}
.login
{
  background-image: url("https://img.collegepravesh.com/2017/02/PICT-Pune.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
.avatar {
  margin: 1vh;
  /* background-color: white;*/
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f7/Pict_logo.png");
}

.form {
  width: 100%;
  margin-top: 5vh;
}

.root {
  height: "100vh";
  width: "100vw";
}

.image {
  background-image: url("https://img.collegepravesh.com/2017/02/PICT-Pune.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.paper {
  margin: 3vh;
  margin-top: 15vh;
}

.submit {
  margin: 3vh;
  height: 6.5vh;
  
}


content {
  flexgrow: 1;
}

.logout {
  margin-left: "auto";
  font-weight: "bold";
  font-size: "1rem";
}

.navbar {
  background-color: white;
}